<script src="newRecipeForm.js"></script>
<form class="ui form" id="newRecipeForm">
  <div class="field">
    <label>Rezept</label>
    <input type="text" name="recipe" placeholder="Rezept">
  </div>
  <div class="ui segment">
    <div class="field">
      <label>Zutaten</label>
      <div class="fields" id="ingredient">
        <button class="ui icon button" onclick="moveIngredientUp(this); return false;">
          <i class="arrow up icon"></i>
        </button>
        <button class="ui icon button" onclick="moveIngredientDown(this); return false;">
          <i class="arrow down icon"></i>
        </button>
        <div class="nine wide field">
          <input type="text" name="ingredient['ingredient'][]" id="1" data-validate="dv_ingredient" placeholder="Zutat">
        </div>
        <div class="two wide field">
          <input type="text" name="ingredient['amount'][]" placeholder="Menge">
        </div>
        <div class="two wide field">
          <input type="text" name="ingredient['unit'][]" placeholder="Einheit">
        </div>
        <button class="ui icon button" onclick="addIngredientRow(this); return false;">
          <i class="plus icon"></i>
        </button>
        <button class="ui icon button" onclick="removeIngredientRow(this); return false;">
          <i class="minus icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <div class="field">
      <label>Schritte</label>
      <div class="fields">
        <div ui="field">
          <button class="ui icon button" onclick="moveStepUp(); return false;">
            <i class="arrow up icon"></i>
          </button>
          <button class="ui icon button" onclick="moveStepDown(); return false;">
            <i class="arrow down icon"></i>
          </button>
        </div>
        <div class="thirteen wide field">
          <textarea placeholder="Beschreibung"></textarea>
        </div>
        <div ui="field">
          <button class="ui icon button" onclick="addStep(this); return false;">
            <i class="plus icon"></i>
          </button>
          <button class="ui icon button" onclick="removeStep(this); return false;">
            <i class="minus icon"></i>
          </button>
        </div>
      </div>
      <div class="fields">
        <div ui="field">
          <button class="ui icon button" onclick="return false;">
            <i class="arrow up icon"></i>
          </button>
          <button class="ui icon button" onclick="return false;">
            <i class="arrow down icon"></i>
          </button>
        </div>
        <div class="thirteen wide field">
          <textarea placeholder="Beschreibung..."></textarea>
        </div>
        <div ui="field">
          <button class="ui icon button" onclick="addIngredientRow(this); return false;">
            <i class="plus icon"></i>
          </button>
          <button class="ui icon button" onclick="removeIngredientRow(this); return false;">
            <i class="minus icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui error message"></div> 
  <button class="ui icon button">
    <i class="save icon"></i>
    Speichern
  </button>
</form>


<div class="fields" id="ingredientTpl" style="display: none;">
  <button class="ui icon button" onclick="moveIngredientUp(this); return false;">
    <i class="arrow up icon"></i>
  </button>
  <button class="ui icon button" onclick="moveIngredientDown(this); return false;">
    <i class="arrow down icon"></i>
  </button>
  <div class="nine wide field">
    <input type="text" name="ingredient['ingredient'][]" id="2" data-validate="dv_ingredient" placeholder="Zutat">
  </div>
  <div class="two wide field">
    <input type="text" name="ingredient['amount'][]" placeholder="Menge">
  </div>
  <div class="two wide field">
    <input type="text" name="ingredient['unit'][]" placeholder="Einheit">
  </div>
  <button class="ui icon button" onclick="addIngredientRow(this); return false;">
    <i class="plus icon"></i>
  </button>
  <button class="ui icon button" onclick="removeIngredientRow(this); return false;">
    <i class="minus icon"></i>
  </button>
</div>