<script src="newRecipeForm.js"></script>
<form class="ui form" id="newRecipeForm">
  <div class="field">
    <label>Rezept</label>
    <input type="text" name="name" data-validate="name" placeholder="Rezept">
  </div>
  <div class="ui segment">
    <div class="field" id="ingredients">
      <label>Zutaten</label>
    </div>
  </div>
  <div class="ui segment">
    <div class="field" id="steps">
      <label>Schritte</label>
    </div>
  </div>
  <div class="ui error message"></div> 
  <button class="ui icon button">
    <i class="save icon"></i>
    Speichern
  </button>
</form>


<div class="fields" id="ingredientTpl" style="display: none;">
  <button class="ui icon button" onclick="moveIngredientUp(this); return false;">
    <i class="arrow up icon"></i>
  </button>
  <button class="ui icon button" onclick="moveIngredientDown(this); return false;">
    <i class="arrow down icon"></i>
  </button>
  <div class="nine wide field">
    <input type="text" name="ingredient[]" data-validate="ingredient" placeholder="Zutat">
  </div>
  <div class="two wide field">
    <input type="text" name="amount[]" data-validate="amount" placeholder="Menge">
  </div>
  <div class="two wide field">
    <input type="text" name="unit[]" data-validate="unit" placeholder="Einheit">
  </div>
  <button class="ui icon button" onclick="addIngredient(this); return false;">
    <i class="plus icon"></i>
  </button>
  <button class="ui icon button" onclick="removeIngredient(this); return false;">
    <i class="minus icon"></i>
  </button>
</div>


<div class="fields" id="stepTpl" style="display: none;">
  <div ui="field">
    <button class="ui icon button" onclick="moveStepUp(this); return false;">
      <i class="arrow up icon"></i>
    </button>
    <button class="ui icon button" onclick="moveStepDown(this); return false;">
      <i class="arrow down icon"></i>
    </button>
  </div>
  <div class="thirteen wide field">
    <textarea placeholder="Beschreibung" name="step[]" rows="3" data-validate="step"></textarea>
  </div>
  <div ui="field">
    <button class="ui icon button" onclick="addStep(this); return false;">
      <i class="plus icon"></i>
    </button>
    <button class="ui icon button" onclick="removeStep(this); return false;">
      <i class="minus icon"></i>
    </button>
  </div>
</div>