#found online: https://fabianlee.org/2017/05/21/golang-running-a-go-binary-as-a-systemd-service-on-ubuntu-16-04/

#ln -s /home/recipedb/src/recipeDB/contrib/sys/recipeDB.service /lib/systemd/system/
#sudo chmod 755 /lib/systemd/system/recipeDB.service
#sudo systemctl enable recipeDB.service
#sudo systemctl start recipeDB


[Unit]
Description=recipeDB REST service
ConditionPathExists=/zfsPoolSSD/www/recipeDB
After=network.target

[Service]
Type=simple
User=recipedb
Group=recipedb
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/zfsPoolSSD/www/recipeDB
ExecStart=/zfsPoolSSD/www/recipeDB/recipeDB

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/recipeDB
ExecStartPre=/bin/chown root:adm /var/log/recipeDB
ExecStartPre=/bin/chmod 755 /var/log/recipeDB
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=recipeDB
 
[Install]
WantedBy=multi-user.target
